/* Nền background */

.login-page {
    height: 100vh;
    background: url("../assets/images/bg-login.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


/* Navbar */

.navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px 50px;
    gap: 30px;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-login {
    background: rgba(255, 255, 255, 0.3);
    border: none;
    padding: 5px 15px;
    border-radius: 8px;
    cursor: pointer;
}


/* Box login */

.login-box {
    margin-top: 80px;
    padding: 40px;
    width: 350px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #000;
}


/* Input */

.input-group {
    margin: 15px 0;
    position: relative;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    background: transparent;
    font-size: 14px;
}

.forgot {
    position: absolute;
    right: 0;
    bottom: -18px;
    font-size: 12px;
    color: #000;
    text-decoration: none;
}


/* Remember me */

.remember {
    margin: 15px 0;
    font-size: 14px;
    text-align: left;
}


/* Button login */

.btn-login {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.register-text {
    margin-top: 15px;
    font-size: 14px;
}