/* Styling riêng cho bước 2 */

.step-content {
    background: white;
    /* nền trắng mờ để nổi bật trên background */
    border-radius: 12px;
    padding: 20px;
    max-width: 800px;
}

.otp-info {
    margin-bottom: 25px;
    color: #333;
}

.otp-input-area {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-bottom: 20px;
}

.otp-input-field {
    padding: 12px;
    font-size: 12px;
    text-align: center;
    letter-spacing: 5px;
    border: 2px solid #ccc;
    border-radius: 6px;
    margin-bottom: 10px;
}

.timer {
    color: #d32f2f;
    /* Màu đỏ cho đồng hồ đếm ngược */
    font-weight: bold;
}